NEXT_PUBLIC_USER_SERVICE_URL=http://localhost:3000/api/users
NEXT_PUBLIC_AI_ASSISTANT_SERVICE_URL=http://localhost:3000/api/assistant
NEXT_PUBLIC_MATCHING_SERVICE_URL=http://localhost:3000/api/matching