@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Open Sans, ui-sans-serif, sans-serif, system-ui;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --font-serif: Source Serif 4, ui-serif, serif;
  --radius: 0.625rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9599 0.0079 73.7436);
  --foreground: oklch(0.2570 0.0105 242.1169);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2570 0.0105 242.1169);
  --primary: oklch(0.2868 0.0372 258.3038);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9666 0.0086 67.7242);
  --secondary-foreground: oklch(0.2570 0.0105 242.1169);
  --muted: oklch(0.9666 0.0086 67.7242);
  --muted-foreground: oklch(0.5251 0.0100 84.5884);
  --accent: oklch(0.4908 0.0547 180.4743);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5824 0.1620 22.7259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0.0144 74.4171);
  --input: oklch(0.9067 0.0144 74.4171);
  --ring: oklch(0.2868 0.0372 258.3038);
  --chart-1: oklch(0.4908 0.0547 180.4743);
  --chart-2: oklch(0.6401 0.1087 51.7200);
  --chart-3: oklch(0.4912 0.0813 161.5420);
  --chart-4: oklch(0.6144 0.1135 67.7900);
  --chart-5: oklch(0.4646 0.0827 246.9611);
  --radius: 0.625rem;
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2570 0.0105 242.1169);
  --sidebar-primary: oklch(0.2868 0.0372 258.3038);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9468 0.0113 176.3063);
  --sidebar-accent-foreground: oklch(0.2570 0.0105 242.1169);
  --sidebar-border: oklch(0.9067 0.0144 74.4171);
  --sidebar-ring: oklch(0.2868 0.0372 258.3038);
  --font-sans: Open Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Source Serif 4, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.9599 0.0079 73.7436);
  --foreground: oklch(0.2570 0.0105 242.1169);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2570 0.0105 242.1169);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2570 0.0105 242.1169);
  --primary: oklch(0.2868 0.0372 258.3038);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9666 0.0086 67.7242);
  --secondary-foreground: oklch(0.2570 0.0105 242.1169);
  --muted: oklch(0.9666 0.0086 67.7242);
  --muted-foreground: oklch(0.5251 0.0100 84.5884);
  --accent: oklch(0.4908 0.0547 180.4743);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5824 0.1620 22.7259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0.0144 74.4171);
  --input: oklch(0.9067 0.0144 74.4171);
  --ring: oklch(0.2868 0.0372 258.3038);
  --chart-1: oklch(0.4908 0.0547 180.4743);
  --chart-2: oklch(0.6401 0.1087 51.7200);
  --chart-3: oklch(0.4912 0.0813 161.5420);
  --chart-4: oklch(0.6144 0.1135 67.7900);
  --chart-5: oklch(0.4646 0.0827 246.9611);
  --radius: 0.625rem;
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2570 0.0105 242.1169);
  --sidebar-primary: oklch(0.2868 0.0372 258.3038);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9468 0.0113 176.3063);
  --sidebar-accent-foreground: oklch(0.2570 0.0105 242.1169);
  --sidebar-border: oklch(0.9067 0.0144 74.4171);
  --sidebar-ring: oklch(0.2868 0.0372 258.3038);
  --font-sans: Open Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Source Serif 4, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  body {
    letter-spacing: var(--tracking-normal);
  }
}